html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit; font-family: Arial, Helvetica, sans-serif;}

.container {
  width: 1000px;
  margin: auto;
  text-transform: capitalize;
  display: flex;
}

.email {
  text-transform: initial;
}

img {
  width:150px;
  border-radius: 50%;
  border: 3px solid rgb(146, 146, 146);
  height:150px;
  margin-top: 55px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content h1 {
  flex-grow: 1;
}

.card {
  background: rgb(243, 243, 243);
  margin: 10px;
  border-radius: 5px;
  height: 400px;
  width: 275px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  padding: 5px;
  border-top: 2px solid rgb(233, 233, 233);
  align-self: flex-end;
}

.count {
  display: flex;
  justify-content: space-evenly;
}

.notgoing {
  background: rgb(255, 71, 71);
  width: 60px;
}

.going {
  background: rgb(81, 184, 81);
  width:60px;
}

.notgoing:focus, .going:focus {
  outline: none;
}

.buttons {
  border-top: 2px solid rgb(233, 233, 233);
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}

#clear {
  margin-top: 5px;
}

#done {
  margin-top: 5px;
}
